body{
  background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
}
.App { 
  width: 40%;
  margin-left: 400px;
}
.calc-screen {
  width: 74.5%;
  margin-left: 4px;
  font-size: 2rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
}

#container {
  padding: 50px;
  display: flex;
  flex-wrap:  wrap;
  justify-content: flex-start ;

}
button {
  font-size: 2.5rem;
  width: 80px;
  height: 80px;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: 5px;
  border-style: none;
  outline: none;
  
}
button:active {
  box-shadow: inset 3px 3px 10px #333;
}
button:nth-child(2) {
 background : rgb(241, 83, 56);
  width: 38%;
}
button:nth-child(18) {
  background : rgb(243, 193, 27);
  width:58%;

 }

button:nth-child(1) {
  background: rgb(243, 128, 228);

  }